header {
    display: flex;
    justify-content: space-between;
}

section#main {
    display: flex;
    flex-direction: column;
}

#main h1,
#main span {
    text-align: center;
    margin-bottom: 5%;
}

.button-wrapper {
    display:flex;
    justify-content: center;
}

.quiz-box {
    display: none;
}

li.answer {
    cursor: pointer;
}
li.answer:hover {
    border: 3px solid #000;
}
